.typeText{
    font-size: 30px;
}

.typeCursor{
    font-size: 30px;
}

.shell-red{
    font-size: 30px;
color: red;
}

.shell-blue{
    font-size: 30px;
color: #1E90FF;
}

.shell-white{
    font-size: 30px;
}
